/*Primary Colors
rgb(244 125 197) pink
rgb(54.1 170 152) green
rgba(74, 47, 189) blue

WEB DESIGN INSPIRATION and ASSETS CREDIT: judygab
*/

/* Custom Font */
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	src: url('./assets/font/CentraNo2-Book.ttf');
	font-weight: 400;
}

/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: rgb(76, 69, 100) !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/**** Navbar*****/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9998;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #00000059;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}

.social-icon button{
  width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 25px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

/* Connect Modal */
.custom-modal .modal-dialog {
  position: fixed !important;
  top: 50% !important;
  left: 55% !important;
  transform: translate(-50%, -50%) !important;
  max-width: 100% !important;
  width: 728px !important;
  height: auto !important;
  border-radius: 20px;
  z-index: 9999 !important;
}


.custom-modal .modal-content {
  border-radius: 18px !important;
  background: #2b2b2b!important;
  color: #ffffff !important;
  border: 1px solid #fff !important; 
  border-right: 6px solid #ffffff !important; 
  border-bottom: 6px solid #ffffff !important;
  box-shadow: 4px 4px 0 #ffffff, 
              0 0 0 #AA367C; 
  transform: rotateX(5deg) rotateY(-5deg);
}

.custom-modal .modal-header,
.custom-modal .modal-body,
.custom-modal .modal-footer {
  background: #2b2b2b !important;
  color: #ffffff !important;
  border-radius: 18px;
}

.custom-modal .modal-header {
  border-bottom: 1px solid #2b2b2b !important;
  z-index: 10001 !important;
  position: relative;
}


.custom-modal .modal-footer {
  border-top: 1px solid #2b2b2b !important;
  justify-content: flex-end !important;
}

/* Modal Close Button */
.custom-modal .custom-close-btn {
  background: rgb(54.1 170 152);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.custom-modal .custom-close-btn:hover {
  background: rgb(54.1 170 152) !important;
  border: 1px solid #fff;
  border-right: 3px solid #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
  box-shadow: 2px 2px 0 #ffffff, 
              0 0 0 #AA367C; 
  transition: border-right-width 0.2s ease-out, 
              border-bottom-width 0.2s ease-out, 
              box-shadow 0.2s ease-out; 
}
/* Modal Title */
.custom-modal .modal-title {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; 
  margin-bottom: 10px;
}

.custom-modal .modal-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; 
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}

/**** RESUME MODAL *****/

.resume-modal .modal-dialog{
  position: fixed !important;
  top: 50% !important;
  left: 55% !important;
  transform: translate(-50%, -50%) !important;
  max-width: 100% !important;
  width: 820px !important;
  height: 515px !important;
  border-radius: 20px;
  z-index: 1050 !important;
}

.resume-modal .modal-content {
  border-radius: 18px !important;
  height: 523px !important;
  background: #000000 !important;
  color: #ffffff !important;
  border: 1px solid #fff !important; 
  border-right: 6px solid #ffffff !important; 
  border-bottom: 6px solid #ffffff !important;
  box-shadow: 4px 4px 0 #ffffff, 
              0 0 0 #AA367C; 
  transform: rotateX(5deg) rotateY(-5deg);
}

.resume-modal .modal-header,
.resume-modal .modal-body,
.resume-modal .modal-footer {
  background: #000000 !important;
  color: #ffffff !important;
  border-radius: 18px;
}

.resume-modal .modal-header {
  border-bottom: 1px solid #000000 !important;
  position: relative;
  padding:0px;
}

.resume-modal .modal-body {
  padding: 1px !important;
  overflow-y: auto;
}

.resume-modal .modal-footer {
  border-top: 1px solid #000000 !important;
  justify-content: flex-end !important;
}

.resume-modal .custom-close-btn {
  background: rgb(54.1 170 152);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.resume-modal .custom-close-btn:hover {
  background: rgb(54.1 170 152) !important;
  border: 1px solid #fff;
  border-right: 3px solid #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
  box-shadow: 2px 2px 0 #ffffff, 
              0 0 0 #AA367C; 
  transition: border-right-width 0.2s ease-out, 
              border-bottom-width 0.2s ease-out, 
              box-shadow 0.2s ease-out; 
}

.resume-modal .modal-title {
  position: relative;
  display: inline-block;
  padding-bottom: 0px; 
  margin-bottom: 10px;
}

.resume-modal .modal-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px; 
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.modal-title-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

/***** Resume Iframe *****/
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 64vh;
}

.iframe-container iframe {
  width: 80%;
  height: 100%; 
  border:none;
}


.email-button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.email-button {
  display: flex;
  align-items: center;
  background-color: #6d62e3 !important;
  border: 1px solid #fff !important;
  color: #fff;
  border: none;
  border-radius: 10px; 
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease;
}

/* Hover effect for the email button */
.email-button:hover {
  border: 1px solid #fff;
  border-right: 3px solid #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
  box-shadow: 2px 2px 0 #ffffff,
              0 0 0 #007bff; 
  transition: border-right-width 0.2s ease-out, 
              border-bottom-width 0.2s ease-out, 
              box-shadow 0.2s ease-out;
}

.full-view {
  display: flex;
  align-items: center;
  color: #fff;
  border: none;
  padding: 0px 0px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
  position: relative;
  transition: all 0.3s ease;
}

.full-view * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.full-view li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}

.full-view a {
  padding: .2em .7em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.full-view a::before,
.full-view a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.full-view a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid rgb(54.1 170 152);
  border-right: 3px solid rgb(28, 93, 83);
  transform: translate(-100%, 50%);
}

.full-view a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(54.1 170 152);
  border-left: 3px solid rgb(28, 93, 83);
  transform: translate(100%, -50%)
}

.full-view a:hover:before,
.full-view a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.full-view a:hover {
  color: rgb(54.1 170 152)
}

/* Hover effect for the email button */
.email-button:hover {
  border: 1px solid #fff;
  border-right: 3px solid #ffffff !important;
  border-bottom: 2px solid #ffffff !important;
  box-shadow: 2px 2px 0 #ffffff,
              0 0 0 #007bff; 
  transition: border-right-width 0.2s ease-out, 
              border-bottom-width 0.2s ease-out, 
              box-shadow 0.2s ease-out;
}

/* Email icon styling */
.email-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Email text styling */
.email-text {
  margin-left: 8px;
}

.connect-gif {
  width: 45px; 
  height: auto;
  padding-bottom: 23px;
}


/* Modal animation */
.perspective-container {
  transform: translate(-50%, -50%) !important; 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  transform-style: preserve-3d;
  animation: flyIn 1.5s ease-out forwards;
  background: #1e1e1e;
  color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  max-width: 80%;
  width: 600px;
  height: 400px;
}

/* Keyframes for the flying effect */
@keyframes flyIn {
  0% {
    transform: translateZ(-2000px) scale(0.5);
    opacity: 0;
  }
  60% {
    transform: translateZ(200px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateZ(0) scale(1);
    opacity: 1;
  }
}

.connect-linkedin-icon {
  width: 80px;
  height: auto;
  fill: #ffffff;
  transition: fill 0.3s ease;
  margin-left: 5px;
  padding-bottom:5px;
}

.connect-linkedin-icon:hover {
  fill: #007bff;
}

.connect-github-icon {
  width: 28px; 
  height: auto;
  fill: #ffffff;
  transition: fill 0.3s ease;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom:5px;
}

.connect-github-icon:hover {
  fill: #007bff;
}


/************ Banner ************/
.banner {
  margin-top: 0;
  padding: 118px 0 100px 100px;
  background-image: url('./assets/img/banner-img2.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(98, 98, 98, 0.189) -5.91%, rgba(50, 50, 50, 0.258) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 55px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
.banner p {
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  opacity: 80%;
}

.txt-rotate {
  font-size: 45px;
  display: inline-block;
}

.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

.profile-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.7s ease;
}

.profile-image:hover {
  transform: scale(1.02); /* Slightly enlarge on hover */
  transition: transform 0.7s ease;
  opacity: 85%;
}

/* Opaque background for banner text */
.banner-text {
  background-color: rgba(36, 36, 36, 0.411);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

/************ Skills ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
  background: #15151575;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}
.skill h2 {
	font-size: 45px;
	font-weight: 700;
}
.skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.custom-arrow {
  width: 20px; 
  height: auto;
  cursor: pointer; 
  opacity: 0.7;
  transition: opacity 0.3s ease, color 0.3s ease; 
}

.custom-arrow:hover {
  opacity: 1; 
}

.custom-arrow-left {
  position: absolute;
  top: 50%; 
  left: 10px; 
  transform: translateY(-50%);
}

.custom-arrow-right {
  position: absolute;
  top: 50%; 
  right: 10px; 
  transform: translateY(-50%); 
}



/************ Projects ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: rgba(117, 117, 117, 0.349);
}
.project h2 {
	font-size: 45px;
	font-weight: 700;
  text-align: center;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg,rgb(54.1 170 152) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav.nav-pills .nav-link.active::before {
    width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
    border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}

.proj-imgbx {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 24px;
  margin-left: 18px;
  width: 100%;
  max-width: 320px; 
  transition: transform 0.3s ease-in-out;
}

.proj-imgbx a {
  display: block;
  text-decoration: none;
}

.proj-imgbx img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.proj-imgbx:hover {
  transform: scale(1.05); 
}

.proj-imgbx:hover .hover-img {
  opacity: 1; 
}

.proj-imgbx .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover;
}

.proj-imgbx .main-img {
  display: block;
}

.proj-txtx {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  width: 90%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.219) 100%);
  color: #fff; 
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}

.proj-imgbx:hover .proj-txtx {
  opacity: 1;
}

.proj-txtx h4 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: 0; /* Remove default margin */
}

.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.5px;
  display: block; 
  margin-top: 5px;
}


.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}


.small-image {
  width: 75%;
  height: auto;
}

.large-image {
  width: 130%;
  height:auto;
}

/************ Contact ************/
.contact {
  background: linear-gradient(90.21deg, rgba(105, 117, 155, 0.5) -5.91%, rgb(191, 131, 139) 111.58%);
  padding: 60px 0 70px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

/***** Accessibility *****/

.accessibility-tab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.53);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.accessibility-tab.expanded {
  width: 250px;
  height: auto;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: visible;
}

.accessibility-toggle {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease, background-color 0.6s ease;
  position: relative;
  z-index: 1;
}

.accessibility-toggle:hover {
  transform: scale(1.15);
}

.accessibility-features {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.accessibility-features button {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.accessibility-features button:hover {
  background-color: #e2e6ea;
}

.accessibility-features .reset-button {
  background-color: #dc3545;
  color: #fff;
}

.accessibility-features .reset-button:hover {
  background-color: #c82333;
}

.accessibility-features .font-size-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}

.accessibility-features .font-size-button {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  width: 30px;
  text-align: center;
}

.accessibility-features .font-size-button.decrease {
  font-size: 15px;
}

.accessibility-features .font-size-button.increase {
  font-size: 22px;
}

.accessibility-features .font-size-label {
  font-size: 16px;
  font-weight: bold;
}


.accessibility-features .highlight-color-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.accessibility-features .highlight-color-options button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #ddd;
  cursor: pointer;
  outline: none;
}

.accessibility-features .color-yellow {
  background-color: #f1cd52;
}

.accessibility-features .color-blue {
  background-color: #3386ff;
}

.accessibility-features .color-green {
  background-color: #0fd450;
}

.accessibility-features .color-red {
  background-color: red;
}

.highlighted-link,
.highlighted-button {
  border-radius: 3px;
}

/**** OnScreen Keyboard / OKS******/
.keyboard {
  position: fixed;
  bottom: 80px;
  left: 45%;
  transform: translateX(-50%);
  background-color: #dcdcdcab;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 7px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.key {
  background-color: #f0f4f8;
  border: none;
  border-radius: 6px;
  padding: 3px 10px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.key:active {
  transform: translateY(2px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.key:hover {
  background-color: #007bff;
  color: white;
}

.control-key {
  background-color: #36aa98;
  color: white;
  padding: 6px 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.control-key:hover {
  background-color: #4a9d77;
}

.drag-handle {
  background-color: #f0f4f8;
  text-align: center;
  cursor: grab;
  border-radius: 12px 12px 0 0;
}

.drag-handle:active {
  cursor: grabbing;
}

.drag-text {
  font-size: 12px;
  color: #666;
}

.spacebar-key {
  width: 200px;
  height: 40px;
  color: #333;
  font-size: 1em;
  text-align: center;
  border: none;
  border-radius: 8px;
  background: #f0f4f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.spacebar-key:hover {
  background-color: #d0d0d0;
}

.next-key {
  background-color: #36aa98;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.next-key:hover {
  background-color: #4a9d77;
}

.symbol-key {
  width: 50px;
  height: 40px;
  font-size: 1.2em;
  text-align: center;
  border: none;
  border-radius: 6px;
  background: #f0f4f8;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.symbol-key:hover {
  background-color: #d0d0d0;
}


/***** Footer  ******/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.2em;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}